{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock title %}


{% block content %}
<div class="card">
    <img src="{% static detail.food_image %}" class="card-img-top rounded mx-auto d-block img-fluid img-thumbnail" alt="... ">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'food_seller:food_detail' name=detail.food_name %}">{{detail.food_name}}</a>
        </h5>
        <p class="card-text">{{detail.food_desc}}</p>
        <p class="card-text"><i class="text-muted">Price : ${{detail.food_price}}</i></p>
    </div>
</div>
{% endblock content %}