{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
<div class="card-group">
    {% for food in food_list %}
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'food_seller:food_detail' food_name=food.food_name %}">{{food.food_name}}</a>
            </h5>
            <p class="card-text">{{food.food_desc|truncatechars:200}}</p>
            <p class="card-text"><small class="text-muted">${{food.food_price}}</small></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}