{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
<div class="row">
    {% for food in food_list %}
    <div class="col-md-6 mt-1">
        <div class="card">
            <img src="{% static food.food_image %}" class="card-img-top rounded mx-auto d-block" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'food_seller:food_detail' name=food.food_name %}">{{food.food_name}}</a>
                </h5>
                <p class="card-text">{{food.food_desc|truncatechars:200}}</p>
                <p class="card-text"><i class="text-muted">Price : ${{food.food_price}}</i></p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>




{% endblock content %}